<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${title}"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css">
</head>
<body class="d-flex h-100 text-center text-white bg-dark">

<div class="container mt-5">
    <header th:insert="blogTaxi/header :: header"></header>>
    <h2>Поддержка по номеру 8(916)-972-89-19<br>
    Телефон заказа такси не через приложение 8(916)-972-89-19
    </h2>
</div>
</body>
</html>