<div th:fragment="header">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
        <header class="mb-auto">
            <div>
                <h3 class="float-md-start mb-0">Довезишка</h3>
                <nav class="nav nav-masthead justify-content-center float-md-end">
                    <a class="nav-link active" aria-current="page" href="/">Главная</a>
                    <a class="nav-link" href="/reviews">Отзывы</a>
                    <a class="nav-link" href="/addreview">Добавить отзыв</a>
                    <a class="nav-link" href="/kontact">Контакты</a>
                    <a class="nav-link" href="/registration">Войти/Зарегестрироваться</a>
                </nav>
            </div>
        </header>
    </div>
</div>