<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="Довезишка"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css">
</head>
<body class="h-100 text-center text-white bg-dark">
<header th:insert="blocks/header :: header"></header>
<div class="container mt-5 mb-5">
    <h1>Добавление отзыва</h1>
    <form action="/addreview" method="post">
        <input type="text" name="title" placeholder="Введите название заголовка" class="form-control"><br>
        <input type="text" name="author" placeholder="Введите имя" class="form-control"><br>
        <textarea type="text" name="full_text" placeholder="Введите текст" class="form-control"></textarea><br>
        <button type="submit" class="btn btn-success">Добавить отзыв</button>
    </form>
</div>
<div th:insert="blocks/footer :: footer"></div>
</body>
</html>