<div th:fragment="header">
    <header class="mb-auto">
        <div>
            <h3 class="float-md-start mb-0">Довезишка</h3>
            <nav class="nav nav-masthead justify-content-center float-md-end">
                <a class="nav-link active" aria-current="page" href="/">Главная</a>
                <a class="nav-link" href="/feedback">Отзывы</a>
                <a class="nav-link" href="/feedback/add">Добавить отзыв</a>
                <a class="nav-link" href="/kontakt">Контакты</a>
                <a class="nav-link" href="/registration">Войти/Зарегестрироваться</a>
            </nav>
        </div>
    </header>
</div>>